In [27]:
import pandas as pd
import pickle
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
with open('data/interim/books_data.pkl', 'rb') as f:
    books_data = pickle.load(f)

with open('data/interim/ratings_data.pkl', 'rb') as f:
    ratings_data= pickle.load(f)

with open('data/interim/users_data.pkl', 'rb') as f:
    users_data= pickle.load(f)

In [29]:
# create sample data
sample = ratings_data.sample(n=1000, random_state=42)
ISBN = sample.iloc[1]['ISBN']

In [30]:
ratings_data = ratings_data[ratings_data['ISBN'].isin(['0590353403', '0439136350', '0439139597','0439064864', '8445071408'])]
ratings_data

         User-ID        ISBN  Book-Rating
534       276929  0439064864            0
9667          92  8445071408            7
10208        254  0439064864            9
10210        254  0439136350            9
10212        254  0439139597            9
...          ...         ...          ...
1147867   276024  0590353403            9
1148153   276165  0439064864           10
1148154   276165  0439136350           10
1148155   276165  0439139597           10
1148185   276165  0590353403           10

[745 rows x 3 columns]

In [31]:
concatenated_df = pd.concat([ratings_data, sample], ignore_index=True)

concatenated_df = concatenated_df.drop_duplicates()

concatenated_df

      User-ID        ISBN  Book-Rating
0      276929  0439064864            0
1          92  8445071408            7
2         254  0439064864            9
3         254  0439136350            9
4         254  0439139597            9
...       ...         ...          ...
1740   160558  0553289411            6
1741   127779  0505524333            0
1742   253821  0446601241            0
1743   277230  037541309X            7
1744   151806  0140367411            0

[1743 rows x 3 columns]

In [54]:
pivoted_df = concatenated_df.pivot(index='ISBN', columns='User-ID', values='Book-Rating')
pivoted_df.fillna(0, inplace=True)
pivoted_df

## pivoted_df.loc[['8445071408']][92]

User-ID,92,254,876,914,1129,1424,1903,2033,2179,2276,...,276018,276024,276165,276275,276929,276939,277230,277378,278418,278852
ISBN,,,,,,,,,,,,,,,,,,,,,
0006167632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0006550576,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0007117515,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0020178557,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0025424009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9686225066,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9722110195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9726116309,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9813068930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SBN57106440X,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
cosine = pd.DataFrame(cosine_similarity(pivoted_df))

In [61]:
cosine.loc[(cosine.values>0) & (cosine.values < 1)]

,0,1,2,3,4,5,6,7,8,9,...,977,978,979,980,981,982,983,984,985,986
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
976,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0